.box-banner {

}
	.box-banner .owl-dots {
		margin: 5px auto;
	    bottom: 40px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
    }
		.box-banner .owl-dot {
			width: 7px;
		    height: 7px;
			background: rgb(255 255 255 / 0.8);
			border: 3px solid transparent;
		    box-sizing: content-box;
		}
		.box-banner .owl-dot.active {
			background: #c19d60;
			border-color: #ffffff;
		}

section.box-branch {
    padding: 30px 0px;
    text-align: center;
}
	.box-branch img {
		width: 100%;
	}
	.box-branch .head-off-on {
	    padding: 10px;
	    color: #c19d60;
	}
		.box-branch .head-off-on b {

		}
		.box-branch .head-off-on b.I-map:before {
		    content: "\e062";
		    margin-right: 7px;
	        font-family: 'Glyphicons Halflings';
		    font-style: normal;
		    font-weight: 400;
		    line-height: 1;
	        font-size: 12px;
		}

    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {

    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
	    section.box-branch {
		    padding: 0px;
		}
		.box-branch .col-lg-4 {
		    border-top: 1px solid rgb(255 255 255 / 19%);
		}
		.box-branch .head-off-on {
		    padding: 10px 35px;
		}
		.box-branch .head-off-on::after {
			content: "";
			background: url(../../images/icon-arrow-down.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    width: 25px;
		    height: 25px;
		    right: 20px;
		    top: 23px;
		    transition: .5s;
		}
		.box-branch .text-off-on {
		    background: rgb(255 255 255 / 16%);
		    padding: 10px;
		}
		.box-branch .head-off-on.open::after {
	        transform: scaleY(-1);
		}
		.box-branch .head-off-on+.text-off-on {
			display: none;
		}
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }
