section.box-banner {
    height: 35vw;
    position: relative;
    max-height: 450px;
}
	.box-banner .b-head {
	    z-index: 1;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.box-banner .box-video {
		z-index: 1;
	    position: relative;
	    height: 100%;
	}
		.box-banner .box-video video ,
		.box-banner .box-video iframe {
			outline: 0px;
		    width: 100%;
		    height: 100%;
	        background-color: #000;
		}
		
	.box-banner .BG-img {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	}
	.box-banner h2.b-head+.BG-img {
	    opacity: .4;
	}
	.box-banner .box-video+.BG-img {
	    filter: blur(1px) brightness(0.5);
	}

section.box-form {
	padding: 50px 0px;
}
	.box-form .b-text {
		
	}
		.box-form .b-text .icon-Logo {
		    width: 100px;
		    padding-bottom: 30px;
		}
		.box-form .b-text p {
		    color: #e4e4e4;
		}
		
	.box-form form button[type="submit"] {
	    width: 100%;
	    cursor: pointer;
	}
	.box-form form button[type="reset"] {
	    filter: grayscale(1);
	    width: 100%;
	    cursor: pointer;
	}
	.box-form .form-control {
		background: transparent !important;
	    border-color: #745e3a !important;
	    resize: none;
	    color: #fff !important;
	}
	.box-form .input-file {
	    border-right: 1px solid #6a5635;
	    padding-right: 30px;
	}
		.box-form .input-file #inputFile {
		    display: none;
		}
		.box-form .input-file #inputFile+a {
			color: #b2b2b2;
		    background: #232323;
		    border-radius: 25px;
		    padding: 5px 30px;
		    display: block;
		    cursor: pointer;
		    text-align: center;
		}
			.box-form .input-file a img {
			    float: left;
			    margin-right: 6px;
			}
					
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {

    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
		.box-form .input-file #inputFile+a {
		    padding: 5px 16px;
	    }
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.box-form .input-file {
			    padding: 0px;
			    padding-bottom: 15px;
			    border: 0px;
			}
			.box-form .input-file #inputFile+a {
			    display: inline-block;
			}
		}
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			section.box-banner {
			    height: 100vw;
		    }
			.box-form .input-file {
			    padding: 0px;
			    padding-bottom: 15px;
			    border: 0px;
			}
			.box-form .input-file #inputFile+a {
			    display: inline-block;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
			.box-form .input-file #inputFile+a {
			    padding: 5px 16px;
		    }
        }
    }
