@font-face{
	font-family:"worasait";
	src:url("font/worasait.ttf") format("truetype");
}
@font-face{
	font-family:"Glyphicons Halflings";
	src:url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.eot);
	src:url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype")
	,url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.woff2) format("woff2")
	,url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.woff) format("woff")
	,url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.ttf) format("truetype")
	,url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}
body {
	font-family: 'Kanit', sans-serif !important;
    font-weight: 100 !important;
    font-size: 16px !important;
}
* {
    outline: 0px !important;
}
.btn.focus ,
.btn:focus {
    box-shadow: none !important;
}
input:focus::-webkit-input-placeholder , /* Edge */
textarea:focus::-webkit-input-placeholder { /* Edge */
	color: #bbb;
}
input:focus:-ms-input-placeholder , /* Internet Explorer 10-11 */
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #bbb;
}
input:focus::placeholder ,
textarea:focus::placeholder {
	color: #bbb;
}
a {
    text-decoration: none !important;
}
a[href="javascript:void(0)"] {
    cursor: default;
}
a.btn-line {
    background: #00c645 url('../../images/icon-line.png') no-repeat 18px center;
    background-size: 15px auto;
    padding: 4px 20px 5px 40px;
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;
    transition: .5s;
}
a.btn-line:hover {
	background-color: #128a3c;
    color: #fff;
}
.fancybox-title-float-wrap .child {
	font-family: 'Kanit', sans-serif !important;
	font-size: 16px;
    background-color: #111111 !important;
    width: 100%;
    border-radius: 0 !important;
    padding: 10px !important;
    text-align: left;
}
.fancybox-overlay {
    background: rgb(0 0 0 / 60%) !important;
}
.fancybox-title-float-wrap {
    width: 100%;
    top: 100%;
    position: initial !important;
}
.fancybox-title-float-wrap .child {
	margin-right: auto !important;
}
.fancybox-title-float-wrap .child b {
    color: #d9292b;
    font-size: 1.4em;
}
.fancybox-title-float-wrap .child b.new {
    width: 85px;
    height: 35px;
    background: url(../../images/icon-new.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 74px;
    left: 84px;
    z-index: 1;
}
.fancybox-wrap {
    box-sizing: content-box;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}
.fancybox-overlay .fancybox-close {
    background: rgb(95 95 95) url(../../images/fancybox_sprite.png) no-repeat 7px center;
    background-size: 22px;
    width: auto;
    border-radius: 20px;
    height: 30px;
    top: 5px;
    right: 7px;
}
.fancybox-overlay .fancybox-close::after {
    content: "ปิด";
    color: #fff;
    padding-left: 39px;
    padding-right: 15px;
    height: 100%;
    display: block;
    line-height: 1.8;
}
html[lang="EN"] .fancybox-overlay .fancybox-close::after {
    content: "close";
}
html[lang="CN"] .fancybox-overlay .fancybox-close::after {
    content: "关";
}
.fancybox-overlay .fancybox-prev span ,
.fancybox-overlay .fancybox-next span {
    background-image: url(../../images/fancybox_sprite.png);
}
.fancybox-overlay .fancybox-nav span {
    visibility: visible;
}
.fancybox-overlay .fancybox-prev span ,
.fancybox-overlay .fancybox-next span {
    background: url(../../images/fancybox_sprite.png) no-repeat center -10px;
    background-size: 40px;
}
.fancybox-overlay .fancybox-next span {
    background-position-y: -121px;
}
.fancybox-overlay .fancybox-next {
    right: -70px;
}
.fancybox-overlay .fancybox-prev {
    left: -70px;
}
.fancybox-overlay .fancybox-skin {
    padding: 70px 80px 36px 80px !important;
    background: transparent;
    box-shadow: none !important;
}
select {
    padding-right: 30px !important;
    background: #fff url('../../images/icon-select.png') no-repeat calc(100% - 10px) center;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 30px;
    -webkit-padding-start: 9px;
    -webkit-user-select: none;
    -moz-appearance: none;
    -moz-padding-end: 30px;
    -moz-padding-start: 9px;
    -moz-user-select: none;
}
button.navbar-toggler {
    border: 0px !important;
}
.container {
    position: relative;
}
.container.width90 {
    width: 90%;
    max-width: none;
}
.container.width1500 {
	width: 1500px;
    max-width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
}
.b-head {
    text-align: center;
/* 	display: table; */
    margin: auto;
    position: relative;
    padding: 70px 45px 50px 45px;
    color: #fff !important;
    background: url(../../images/BG-head.png) no-repeat center calc(100% - 22px);
}
.b-head::after {
	content: attr(data-shadow);
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%) scale(1.7,1.9);
    word-break: revert;
    color: rgb(193 157 96 / 0.2);
    display: table;
    letter-spacing: 1px;
    font-family: 'Kaushan Script', cursive;
}
.box-banner .b-head::after {
    color: rgb(193 157 96 / 0.7);
}
.b-head:not([data-shadow]) {
    display: table;
    margin: auto;
    position: relative;
    padding: 5px 15px 50px 15px;
    color: #fff !important;
    background: url(../../images/BG-head.png) no-repeat center calc(100% - 22px);
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
.b-head:not([data-shadow]).t-left {
    background-position-x: 15px;
}
.b-head:not([data-shadow]).t-color {
    color: #c19d60 !important;
}
.btn2 {
	background: url(../../images/BG-button.png) no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    padding: 8px 25px;
    outline: 0px;
    color: #ffffff;
    transition: .5s;
}
.btn2:hover {
    filter: grayscale(1);
    color: #ffffff;
}
.quotationMarks {
	font-family: "worasait";
    font-size: 1.5em;
    display: inline-block;
    padding: 13px 38px 5px 38px;
    background: url(../../images/icon-quotation-marks.png),url(../../images/icon-quotation-marks.png);
    background-repeat: no-repeat;
    background-position-x: -53px , calc(100% + 57px);
    background-position-y: 15px,53%;
    position: relative;
}
	.quotationMarks t {
        font-family: 'Kaushan Script', cursive;
	}
.img {
	overflow: hidden;
	position: relative;
}
	.img img {
		display: block;
		width: 100%;
		transition: transform .8s ease;
	}
	.img:hover img {
		transform: scale(1.1);
	}
	.img .src-img {
	    background:rgba(59, 120, 132, 0.08) no-repeat center;
	    background-size: cover;
		transition: transform .8s ease;
	}
	.img:hover .src-img {
		transform: scale(1.1);
	}
	
.rateyo {
    padding: 10px !important;
}

header {
	background-color: rgb(0 0 0);
    position: sticky;
    position: -o-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1030;
    transition: .5s;
}
@media only screen and (min-width: 1025px) {
	body.down header {
		background-color: rgb(0 0 0 / 82%);
	}
}
	header .navbar-dark .navbar-toggler-icon {
	    background: none;
	    position: relative;
	}
		header .navbar-dark .navbar-toggler-icon:before {
		    height: 3px;
		    width: 25px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background: #c19d60;
		    transition: transform ease .5s;
		    content: '';
		    display: block;
		    margin: auto;
		}
		header .navbar-dark button[aria-expanded="true"] .navbar-toggler-icon:before {
		    transition: transform .5s ease .5s;
		    opacity: 1;
		    transform: rotate(-44deg);
		}
		header .navbar-dark .navbar-toggler-icon:after {
		    height: 3px;
		    width: 25px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background: #c19d60;
		    box-shadow: 0 8px 0 #c19d60, 0 -8px 0 #c19d60;
		    transition: transform ease .5s,box-shadow .5s ease .5s;
		    content: '';
		    display: block;
		    margin: auto;
		}
		header .navbar-dark button[aria-expanded="true"] .navbar-toggler-icon:after {
		    transition: transform .5s ease .5s,box-shadow ease .5s;
		    box-shadow: 0 0 0;
		    transform: rotate(44deg);
		}
		
	header .navbar-brand img {
	    width: 100px;
	    transition: .5s;
	}
@media only screen and (min-width: 1025px) {
	body.down header .navbar-brand img {
	    width: 60px;
	}
}
		header .navbar-dark .navbar-nav li>.nav-link {
		    padding: 11px 20px;
		}
		header .navbar-dark .navbar-nav .nav-link:focus ,
		header .navbar-dark .navbar-nav .nav-link:hover {
		    color: rgb(193 157 96);
		}
		header .navbar-dark .navbar-nav .active>.nav-link {
		    background: url(../../images/BG-activeMenu.png) no-repeat center bottom;
		    background-size: 81% auto;
		}
		header .navbar-dark .navbar-nav .nav-link {
		    color: #ffffff;
		}
	
	header .menu-social {
	    border-left: 1px solid #826a41;
	    padding: 0px 12px;
	    border-right: 1px solid #826a41;
	}
		header .menu-social a {
	        width: 23px;
		    height: 23px;
		    display: block;
		    margin: 0px 7px;
		    transition: .3s;
		}
			header .menu-social img {
			    width: 20px;
			    display: block;
			    transition: .5s;
			}
			header .menu-social a:hover img {
			    transform: scale(1.2);
			}
			
	header .dropdown-menu {
		background-color: rgb(0 0 0 / 82%);
	    background-clip: content-box;
	    top: 96%;
	}
	header .navbar-nav .dropdown-menu {
	    padding: 0px;
	    padding-top: 32px;
	}
	body.down header .navbar-nav .dropdown-menu {
	    padding-top: 15px;
	}
@media only screen and (min-width: 1025px) {
	header li.nav-item.dropdown:hover .dropdown-menu {
	    display: block;
	}
}
		header .dropdown-item:focus ,
		header .dropdown-item:hover {
		    background-color: #c19d60;
		}
			header .dropdown-menu a {
			    color: #fff;
			}
			header .dropdown-item.active ,
			header .dropdown-item:active {
			    background-color: #c19d60;
			}
			
	.dropdown.box-lang {
		padding-left: 5px;
	}
		.dropdown.box-lang button {
		    background: none;
		    color: #ffffff;
	        cursor: pointer;
		}
			.dropdown.box-lang .dropdown-menu {
			    background: rgb(0 0 0 / 74%);
			    border: 1px solid #636363;
			    min-width : inherit;
			}
			.dropdown.box-lang img {
			    width: 30px;
			    vertical-align: sub;
			}

.box-banner {
    background: #000000;
    overflow: hidden;
}
	.box-banner img.img-banner {
	    width: 100%;
	}
	.box-banner .item {
	    overflow: hidden;
	}
	
	.owl-dots {
		margin: 30px auto 15px auto;
	    display: table;
	}
		.owl-dot {
			width: 13px;
			height: 13px;
			display: block;
			background: transparent;
		    border: 1px solid #715c38;
			float: left;
			margin: 2px 12px;
			border-radius: 50%;
		}
		.owl-dot.active {
			background: #c19d60;
		    border: 2px solid black;
		}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 100%;
		height: 0px;
		transform: translateY(-50%);
	}
		.owl-nav div {
			display: flex;
			align-items: center;
			width: 20%;
			height: 35vw;
			transform: translateY(-50%);
			position: absolute;
			transition: opacity .5s;
			opacity: 0;
		}
		.owl-nav div:hover {
			opacity: 1;
		}
			owl-prev {
				float: left;
				left: 10px
			}
			.owl-next {
				float: right;
				right: 10px;
			}
			.owl-nav img {
			    display: block;
			    width: 50px;
			    padding: 14px;
			    filter: grayscale(1);
			    transition: .5s;
			    box-sizing: border-box;
			}
				.owl-nav .owl-prev img {
					transform: rotate(180deg);
				}
				.owl-nav .owl-next img {
			        margin-left: auto;
				}
				
	.owl-carousel .img-banner ,
	.owl-carousel iframe ,
	.owl-carousel video {
	    width: 100%;
	    height: 38.5vw;
	    background: #000;
	    transform: scale(1.45);
	}
	.owl-carousel .img-banner {
	    transform: scale(1);
        background: no-repeat center;
	    background-size: cover;
	}
	.this-none {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 1;
	    left: 0px;
	    top: 0px;
	}
    .img-banner.banner-portrait ,        
	img.banner-portrait {
		display: none !important;
	}

#content {
    padding-bottom: 27px;
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}
	.BG-bottom::after {
	    content: "";
	    background: url(../../images/BG-Ourstory-top.png) no-repeat center bottom;
	    background-size: 100% 100%;
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    right: 0px;
	    height: 40px;
	    z-index: 1;
	}
	.BG-bottom-black::after {
	    content: "";
	    background: url(../../images/BG-Ourstory-top.png) no-repeat center bottom;
	    background-size: 100% 100%;
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    right: 0px;
	    height: 40px;
	    z-index: 1;
	    filter: brightness(0);
	}
		.BG-bottom {
		    position: relative;
		}
		
.box-pagination {
	margin-left: auto;
	width: 100%;
    display: inline-block;
}
	.box-pagination ul {
		padding: 0px;
		list-style-type: none;
		display: table;
		margin: 15px auto;
	}
		.box-pagination li {
			float: left;
		}
		.box-pagination li.active {
			
		}
			.box-pagination li a {
			    margin: 0px 8px;
			    width: 35px;
			    height: 35px;
		        padding-right: 4px;
			    display: block;
			    text-align: center;
			    box-sizing: border-box;
			    transition: .56s;
			    border-radius: 50%;
			    line-height: 2;
			    color: #bb9f69;
			    border: 1px solid #745f3a;
			    font-family: 'Kaushan Script', cursive;
			}
			.box-pagination li a:hover {
				
			}
			.box-pagination li a.b-btn {
				background: #bb9f69;
				background-clip: content-box;
				color: #fff;
				display: flex;
			    align-items: center;
			    padding: 3px;
			}
			.box-pagination li:not(.active) a:not([href="javascript:void(0)"]):hover {
				background-color: rgb(189 139 54) !important;
				color: #fff;
			}
				.box-pagination li b {
				    font-weight: 100;
				    font-size: 0.75em;
				}
				.box-pagination li a.b-btn.arrow-l::before ,
				.box-pagination li a.b-btn.arrow-r::after {
					content: "";
				    background: url(../../images/icon-arrow2.png) 0px center;
				    width: 8px;
				    height: 12px;
				}
				.box-pagination li a.b-btn.arrow-l::before {
					transform: rotate(180deg);
					margin-left: 8px;
				}
				.box-pagination li a.b-btn.arrow-r::after {
					margin-left: 10px;
				}
				
			.box-pagination li.active a {
				background: #bb9f69;
				color: #000;
			}

footer {
	background: url(../../images/BG-footer.png) no-repeat center bottom;
    background-size: 100% 100%;
    padding-top: 30px;
    margin-top: -27px;
}
	footer ul {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    padding-left: 0;
	    margin-bottom: 0;
	    list-style: none;
	    justify-content: center;
	    border-bottom: 1px solid #363636;
	}
		footer li {
			padding: 18px 20px;
		}
			footer li a {
			    color: #6d6d6d;
			}
			footer li a:hover {
			    color: rgb(193 157 96);
			}
			footer li .dropdown-menu {
				background-color: rgb(0 0 0 / 82%);
			    background-clip: content-box;
			    top: 96%;
			    border: 0px;
			}
			footer li .navbar-nav .dropdown-menu {
			    padding: 0px;
			    padding-top: 32px;
			}
			footer li .dropdown-menu {
			    padding-top: 15px;
			}
				footer .dropdown-item:focus ,
				footer .dropdown-item:hover {
				    background-color: #c19d60;
				}
					footer .dropdown-menu a {
					    color: #fff;
					}
			
	p.b-copy {
	    color: #c19d60;
	    text-align: center;
	    margin: 0px;
	    padding: 8px;
	}

    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		a .img::after {
		    font-size: 12px;
	    }
	    a .img[data-text]::after {
		    font-size: 18px;
	    }
	    header {
		    position: fixed;
		    position: -o-fixed;
		    position: -moz-fixed;
		    position: -webkit-fixed;
		    left: 0px;
		    right: 0px;
		}
		#firstbox {
		    padding-top: 57.53px;
		}
		header .navbar-brand img {
		    width: 55px;
		}
		header .navbar-dark .navbar-nav li>.nav-link {
		    padding: 13px;
		    text-align: center;
		}
		header .navbar-dark .navbar-nav .active>.nav-link {
		    background-size: initial;
		}
		header .navbar-toggler {
		    outline: 0px !important;
		}
		#navbarCollapse::before {
		    content: "";
		    width: 100%;
		    border-bottom: 1px solid rgb(228 228 228 / 48%);
		    position: fixed;
		    left: 0px;
		}
		.menu-social::before {
		    content: "";
		    width: 100%;
		    border-bottom: 1px solid rgb(228 228 228 / 48%);
		    position: fixed;
		    left: 0px;
		    margin-top: -20px;
		}
		header .navbar {
		    padding: 0px !important;
		    flex-direction: row-reverse;
		}
		header .navbar-nav.menu-list {
		    justify-content: space-evenly;
		    overflow: hidden auto;
		    height: calc(100vh - 120.53px);
		}
		header .menu-social {
			border: 0px;
		    display: table;
		    padding: 20px 10px;
		    margin: auto;
		    width: calc(100%/2 + 25px);
		    float: left;
		}
		header .menu-social+.dropdown.box-lang {
		    float: right;
		    width: calc(100%/2 - 25px);
		    padding: 13px;
		    display: flex;
		}
		.dropdown.box-lang .dropdown-menu {
		    top: auto !important;
		    bottom: 100% !important;
		    left: auto;
		}
		header .menu-social li {
			float: right;
		}
		.navbar-nav .dropdown-menu {
		    border-bottom: 1px solid #6c6c6c;
		    padding: 0px !important;
		}
		header li.nav-item .dropdown-menu a {
		    text-align: center;
		    padding: 13px;
		    color: #fff;
		    border-top: 1px solid #6c6c6c;
		}
		#content {
		    padding-bottom: 17px;
		}
		.BG-bottom::after ,
		.BG-bottom-black::after {
			background-size: auto 100%;
		}
		.quotationMarks {
			margin-left: 0px !important;
		}
		.container.width1500 {
		    padding-right: 15px;
		    padding-left: 15px;
	    }
	    .container.width90 {
		    width: 100%;
		}
		footer {
		    margin-top: -17px;
		    padding: 30px 20px 15px 20px;
		}
		footer ul {
			display: none;
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
		h2.head {
		    font-size: 1.5em;
	    }
		#content {
		    padding-bottom: 16px;
		}
		footer {
		    margin-top: -16px;
		    padding: 25px 20px 11px 20px;
		}
		.box-Ourstory .b-text {
		    background-size: 130% auto !important;
		}
	    .fancybox-wrap {
		    padding: 0px !important;
		}
		.fancybox-overlay .fancybox-close {
			right: -12px;
		    top: -16px;
		    width: 35px;
		    height: 35px;
		    background-color: #5a5a5a;
		}
		.fancybox-overlay .fancybox-skin {
		    padding: 0px !important;
		}
		.fancybox-title-float-wrap .child b.new {
		    top: 5px;
		    left: 5px;
		}

		.fancybox-overlay .fancybox-close::after {
			display: none;
		}
		.fancybox-overlay .fancybox-next {
		    right: -13px;
		}
		.fancybox-overlay .fancybox-prev {
		    left: -13px;
		}
		.fancybox-title-float-wrap .child {
		    white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.owl-carousel .img-banner ,
            .owl-carousel iframe ,
            .owl-carousel video {
			    height: 150vw;
			    transform: none;
			}
			.owl-dot {
			    margin: 2px 10px;
		    }
            .img-banner.banner-portrait+.img-banner ,
            img.banner-portrait+img {
                display: none !important;
            }
            .img-banner.banner-portrait ,
            img.banner-portrait {
                display: block !important;
            }
            .quotationMarks t {
			    display: block;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
			.owl-carousel .img-banner ,
            .owl-carousel iframe ,
            .owl-carousel video {
			    height: 42vw;
			    transform: none;
			}
			header .navbar-nav {
			    justify-content: normal;
			}
			header .navbar-nav.menu-list {
			    justify-content: normal;
	        }
	    }
    }
