section.box-banner {
    height: 35vw;
    position: relative;
    max-height: 450px;
}
	.box-banner .b-head {
	    z-index: 1;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.box-banner .b-head::before {
	    color: rgb(193 157 96 / 0.7);
	}
	.box-banner .box-video {
		z-index: 1;
	    position: relative;
	    height: 100%;
	}
		.box-banner .box-video video ,
		.box-banner .box-video iframe {
			outline: 0px;
		    width: 100%;
		    height: 100%;
	        background-color: #000;
		}
		
	.box-banner .BG-img {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	}
	.box-banner h2.b-head+.BG-img {
	    opacity: .4;
	}
	.box-banner .box-video+.BG-img {
	    filter: blur(1px) brightness(0.5);
	}

section.box-detail {
	min-height: calc(100vh - 375px);
}
	.box-detail .b-profile {
		padding: 10px;
	}
		.box-detail .item[data-type="video"] .img::before {
			content: "";
		    width: 50px;
		    height: 50px;
		    background: url(../../images/Play-button.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);
		    z-index: 1;
		}
			.box-detail .b-profile img {
				width: 50px;
			    float: left;
			    margin-right: 8px;
			    border-radius: 50%;
			}
			
		.box-detail .b-name {
		    padding-left: 60px;
		}
			.box-detail .b-profile h5 {
				margin: 0px;
			}
			.box-detail .b-profile .rateyo {
				padding: 5px 0px !important;
			}
			
	.box-detail .box-deta {
	    border-bottom: 1px solid #363636;
	    margin: 10px;
	    color: #d6d6d6;
	    padding-bottom: 10px;
        font-size: 15px;
        margin-bottom: 25px;
	}
		
	.box-detail .p {
		padding: 10px;
		padding-top: 0px;
	}
		.box-detail .p iframe {
		    height: 50vw;
		    max-height: 600px;
		    max-width: 100%;
		    margin: auto;
		    display: block;
		}
		.box-detail .p.p-head {
			padding: 0px 10px;
		    padding-top: 47px;
		}
		.box-detail .p h1 ,
		.box-detail .p h2 ,
		.box-detail .p h3 ,
		.box-detail .p h4 ,
		.box-detail .p h5 {
		    color: #c19d60;
		}
		.box-detail .p img {
		    width: 100%;
		    margin: 4% 0px;
		}
		.box-detail .p a {
		    color: #c19d60;
		}
		
	.box-social .b-social {
	    border-top: 1px solid #53442c;
	    padding: 20px 5px;
	    margin-top: 25px;
	}
		.box-social span {
			float: left;
			color: #d6d6d6;
		    font-size: 15px;
		}
		.box-social ul.social {
		    padding: 0px 12px;
	        display: flex;
		    list-style-type: none;
		}
			.box-social .social a {
		        width: 23px;
			    height: 23px;
			    display: block;
			    margin: 0px 7px;
			    transition: .3s;
			}
				.box-social .social img {
				    width: 20px;
    			    display: block;
				    transition: .5s;
				}
				.box-social .social a:hover img {
				    transform: scale(1.2);
				}

section.grid-wrap {
    max-width: none;
    padding: 0px;
}
	.grid-wrap .grid figure {
		padding: 8px !important;
	}
		.grid-wrap .grid figure[data-type="video"] .img::before {
			content: "";
		    width: 50px;
		    height: 50px;
		    background: url(../../images/Play-button.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);
		    z-index: 1;
		}
		
a.btn2 {
    margin: auto;
    display: table;
    margin-top: 30px;
}

    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		section.box-detail {
		    min-height: calc(100vh - 265px);
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			section.box-banner {
			    height: 100vw;
		    }
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }
