.box-banner {

}

.hidden-none {
	display: none;
}
	.box-banner .owl-dots {
		margin: 5px auto;
	    bottom: 40px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
    }
		.box-banner .owl-dot {
			width: 7px;
		    height: 7px;
			background: rgb(255 255 255 / 0.8);
			border: 3px solid transparent;
		    box-sizing: content-box;
		}
		.box-banner .owl-dot.active {
			background: #c19d60;
			border-color: #ffffff;
		}
		
section.box-Ourstory {
  background-color: #202020;
	/* background-image: url(../../images/BG-Ourstory-lt.png),url(../../images/BG-Ourstory-rb.png),url(../../images/BG-Ourstory.jpg); */
	background-repeat: no-repeat;
	background-position-x: left , right , center;
	background-position-y: 10px , bottom , bottom;
	background-size: 110px , 400px , 100% calc(100% - 50px);
	padding: 40px 0px;
}
	.box-Ourstory .row {
	    flex-direction: row-reverse;
	}
		.box-Ourstory img.img-Ourstory {
			display: block;
			width: 100%;
		}
		.box-Ourstory img.icon-premium {
			width: 90px;
			vertical-align: text-bottom;
			margin-top: -30px;
		}
		.box-Ourstory .b-text {
			width: 92%;
		    margin-left: auto;
		    /* background: url(../../images/BG-Ourstory-cow.png) no-repeat right top; */
		    background-size: 62% auto;
			padding-right: 12%;
		    padding-top: 5%;
		}
			.box-Ourstory .b-text img.icon-Logo {
				width: 100px;
			}
			.box-Ourstory .b-text .b-head {
				margin-left: -15px;
				margin-top: 20px;
			}
			.box-Ourstory .b-text p {
				padding-bottom: 20px;
			}
			.box-Ourstory .quotationMarks::after {
			    content: "";
			    width: 20px;
			    height: 20px;
			    background: url(../../images/icon-quotation-marks.png) no-repeat center;
			    position: absolute;
			    right: 0px;
			    top: 0px;
			}

section.box-Menus {
	background: url(../../images/BG-Menus-left.png),url(../../images/BG-Menus-right.png);
    background-repeat: no-repeat;
    background-position-x: left , right;
    background-position-y: center;
    background-size: contain;
    padding: 10px 0px 50px 0px;
}
	.box-Menus a.btn2 {
	    margin: auto;
	    display: table;
	}
	.box-Menus .box-list {
		border: 1px solid #745f3a;
		padding: 6px;
		position: absolute;
		left: 15px;
		top: 15px;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		overflow: hidden;
	}
		.box-Menus .box-list img {
		    transition: .8s ease;
		    width: 100%;
		}
		.box-Menus .box-list:hover img {
		    filter: blur(1px);
		    opacity: .8;
		}
		.box-Menus .list {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		.box-Menus img.size-img {
		    width: 100%;
		    margin: 15px 0px;
		}
		
section.box-Recommend {
	background: url(../../images/BG-Recommend.png) no-repeat center bottom;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 75px;
    margin-bottom: -45px;
    position: relative;
    z-index: 1;
}
	.box-Recommend .box-slide {
		position: relative;
	    padding: 0px 4%;
	}
		.box-Recommend .box-slide .item {
		    background-color: #000000;
		    position: relative;
		    margin: 0px 5px;
		}
		.box-Recommend .item.new::after {
			content: "";
		    width: 85px;
		    height: 35px;
		    background: url(../../images/icon-new.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    left: 10px;
		    top: 10px;
		}
			.box-Recommend .item a {
				color: #ffffff;
			}
				.box-Recommend .item h5 {
					margin: 0px;
				    color: #d9292b;
				    padding: 10px;
				}						
				.box-Recommend .item p {
					padding: 0px 10px;
				    margin: 0px;
				    white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.box-Recommend .item span {
					padding: 0px 10px 10px 10px;
					color: #f1efec;
					display: block;
				}
		
		.box-Recommend .o-prev ,
		.box-Recommend .o-next {
			display: inline-block;
		    position: absolute;
		    top: 50%;
		    cursor: pointer;
	        z-index: 1;
		}
		.box-Recommend .o-prev {
			transform: translateY(-50%) rotate(180deg);
			left: -4%;
		}
			.box-Recommend .o-prev img {
				display: block;
				width: 20px;
			}
			
		.box-Recommend .o-next {
		    transform: translateY(-50%);
		    right: -4%;
		}
			.box-Recommend .o-next img {
				display: block;
				width: 20px;
			}

section.box-reviews {
    background-color: #101010;
    color: #fff;
    padding-bottom: 50px;
}
	.box-reviews .box-head {
	    background: #000;
        padding-top: 50px;
	}
		.box-reviews .box-head .container {
	        background: url(../../images/reviews-head-left.png),url(../../images/reviews-head-right.png);
		    background-repeat: no-repeat;
		    background-position-x: left , right;
		    background-position-y: center;
		    background-size: contain;
		}
	
	.box-reviews a.btn2 {
	    margin: auto;
	    display: table;
	}
	.box-reviews .box-video {
	    margin-bottom: 30px;
	}
		.box-reviews .box-video video {
			width: 100%;
			outline: 0px;
		}
		.box-reviews .box-video iframe {
		    width: 100%;
		    height: 40vw;
		    max-height: 550px;
		}
		
	.box-reviews .box-slide {
		position: relative;
	    padding: 0px 4%;
	}
		.box-reviews a {
			color: #ffffff !important;
		}
			.box-reviews .b-profile {
				padding: 10px;
			}
				.box-reviews .item[data-type="video"] .img::before {
					content: "";
			    width: 50px;
			    height: 50px;
			    background: url(../../images/Play-button.png) no-repeat center center;
			    background-size: contain;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%,-50%);
			    z-index: 1;
				}
					.box-reviews .b-profile img {
						width: 50px !important;
				    float: left;
				    margin-right: 8px;
				    border-radius: 50%;
					}
					
				.box-reviews .b-name {
				    padding-left: 60px;
				}
					.box-reviews .b-profile h5 {
						margin: 0px;
					}
					.box-reviews .b-profile .rateyo {
						padding: 5px 0px !important;
					}
					
			.box-reviews p {
				padding: 10px;
				padding-top: 0px;
			}
		
		.box-reviews .o-prev ,
		.box-reviews .o-next {
			display: inline-block;
		    position: absolute;
		    top: 50%;
		    cursor: pointer;
	        z-index: 1;
		}
		.box-reviews .o-prev {
			transform: translateY(-50%) rotate(180deg);
			left: -4%;
		}
			.box-reviews .o-prev img {
				display: block;
				width: 20px;
			}
			
		.box-reviews .o-next {
		    transform: translateY(-50%);
		    right: -4%;
		}
			.box-reviews .o-next img {
				display: block;
				width: 20px;
			}

section.box-about-us {
    padding: 30px 0px;
}
	.box-about-us .item {
	    border: 1px solid #745e3a;
	    padding: 15px;
	    margin: 0px 5px;
	    text-align: center;
	    background: rgb(154 157 162 / 10%);
	}
		.box-about-us .box-profile {
		    width: 70px;
		    margin: 20px auto;
		}
			.box-about-us .box-profile img {
			    border-radius: 50%;
			}
		
		.box-about-us .item .rateyo {
		    margin: auto;
		}

section.box-banner2 {
	padding: 50px;
    background-color: #161616;
    background-image: url(../../images/BG-banner2-2.png),url(../../images/BG-banner2.png);
    background-position-y: top,bottom;
    background-position-x: center,center;
    background-repeat: repeat,no-repeat;
    background-size: auto 100px;
}
	.box-banner2 img.img-fluid {
	    margin: auto;
	    display: block;
	    padding: 12px;
	}

section.box-branch {
    padding: 60px 0px 30px 0px;
    text-align: center;
}
	.box-branch .head-off-on {
	    padding: 10px;
	    color: #c19d60;
	}
		.box-branch .head-off-on b {

		}
		.box-branch .head-off-on b.I-map:before {
		    content: "\e062";
		    margin-right: 7px;
	        font-family: 'Glyphicons Halflings';
		    font-style: normal;
		    font-weight: 400;
		    line-height: 1;
	        font-size: 12px;
		}

    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		.box-Ourstory .b-text {
		    padding: 0px;
		    margin: 0px;
		    width: 100%;
		    padding-bottom: 80px;
		}
		section.box-Ourstory {
			background-size: 110px , 400px ,auto calc(100% - 52px);
		}
		.box-Menus .list {
		    width: 100%;
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
		.box-Recommend .o-prev ,
		.box-reviews .o-prev {
		    left: -18px;
		}
		.box-Recommend .o-next ,
		.box-reviews .o-next {
		    right: -18px;
		}
		section.box-banner2 {
		    padding: 50px 0px;
		}
		.box-Ourstory img.icon-premium {
		    margin: 0px;
		    visibility: initial;
		    display: block;
		    margin-left: -15px;
		    width: 65px;
		    float: right;
		    transform: translate(-33px,-20px);
		}
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
	        .box-Ourstory .quotationMarks {
		        background-image: url(../../images/icon-quotation-marks.png);
	        }
			.box-Ourstory .quotationMarks::after {
			    content: "";
			    width: 27px;
			    height: 27px;
			    background: url(../../images/icon-quotation-marks.png) no-repeat -6px 0px;
			    background-size: auto 100%;
			    position: absolute;
			    right: 28%;
			    top: 50%;
			}
			.quotationMarks t {
			    display: block;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
	    section.box-branch {
		    padding: 0px;
		}
		.box-branch .col-lg-4 {
		    border-top: 1px solid rgb(255 255 255 / 19%);
		}
		.box-branch .head-off-on {
		    padding: 10px 35px;
		}
		.box-branch .head-off-on::after {
			content: "";
			background: url(../../images/icon-arrow-down.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    width: 25px;
		    height: 25px;
		    right: 20px;
		    top: 23px;
		    transition: .5s;
		}
		.box-branch .text-off-on {
		    background: rgb(255 255 255 / 16%);
		    padding: 10px;
		}
		.box-branch .head-off-on.open::after {
	        transform: scaleY(-1);
		}
		.box-branch .head-off-on+.text-off-on {
			display: none;
		}
		.box-reviews .o-prev ,
		.box-reviews .o-next {
			display: none;
		}
		.box-Ourstory .b-text {
		    background: none;
	    }
	    section.box-Ourstory::before {
		    content: "";
		    background: url(../../images/BG-Ourstory-cow.png) no-repeat left top;
		    background-size: contain;
		    position: absolute;
			left: -30%;
		    top: 3%;
		    width: 140%;
		    height: 300px;
		}
		section.box-Recommend ,
		section.box-Ourstory {
		    overflow-x: hidden;
		    position: relative;
		}
		.box-banner2 .row > div {
		    padding: 0px;
		}
		section.box-banner2 {
		    padding: 10px;
	    }
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
	        section.box-Menus {
			    padding-bottom: 16px;
			    background-position-y: bottom , top ;
		    }
	        .box-Ourstory .quotationMarks {
		        background-image: url(../../images/icon-quotation-marks.png);
	        }
			.box-Ourstory .quotationMarks::after {
			    content: "";
			    width: 27px;
			    height: 27px;
			    background: url(../../images/icon-quotation-marks.png) no-repeat -6px 0px;
			    background-size: auto 100%;
			    position: absolute;
			    right: 28%;
			    top: 50%;
			}
			.box-Ourstory img.icon-premium {
				margin: 0px;
			    visibility: initial;
			    display: block;
			    margin-left: -15px;
			    width: 65px;
			    float: right;
			    transform: translate(-33px,-20px);
			}
			section.box-Ourstory {
			    background-position-x: left , 56vw , center;
			    background-position-y: top , calc(100% - 311px) , bottom;
			    padding: 25px 0px;
			}
			.box-Ourstory img.img-Ourstory {
			    margin-bottom: 30px;
			}
			.box-Recommend .owl-carousel ,
			.box-Recommend .owl-carousel .owl-stage-outer {
			    overflow: initial;
			}
			.box-Recommend .box-slide .item {
			    margin: 0px;
		    }
			.box-Recommend .o-prev ,
			.box-Recommend .o-next {
			    height: calc(100% - 17px);
			    top: 0px;
			    transform: none;
			    opacity: 0;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
		    section.box-Ourstory::before {
				left: 30%;
			}
			.box-Recommend .o-prev ,
			.box-Recommend .o-next {
				display: none;
			}
        }
    }
