section.box-banner {
    height: 35vw;
    position: relative;
    max-height: 450px;
}
	.box-banner .b-head {
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	}
	.box-banner .b-head::before {
	    color: rgb(193 157 96 / 0.7);
	}
	.box-banner .box-video {
		z-index: 1;
	    position: relative;
	    height: 100%;
	}
		.box-banner .box-video video ,
		.box-banner .box-video iframe {
			outline: 0px;
		    width: 100%;
		    height: 100%;
	        background-color: #000;
		}
		
	.box-banner .box-video-facebook {
	    background: #000;
	}
		.box-banner .box-video-facebook iframe {
			outline: 0px;
		    width: 72%;
	        margin: auto;
		    display: block;
		    height: 40vw;
	        background-color: #000;
		}
				
	.box-banner .BG-img {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	    filter: blur(1px) brightness(0.5);
	}
	.box-banner h2.b-head+.BG-img {
		filter: none;
	    opacity: .4;
	}
			
	section.box-List {
		position: relative;
	}
		.box-List a {
			color: #ffffff !important;
		}
			.box-List .b-profile {
				padding: 10px;
			}
				.box-List .item[data-type="video"] .img::before {
					content: "";
				    width: 50px;
				    height: 50px;
				    background: url(../../images/Play-button.png) no-repeat center center;
				    background-size: contain;
				    position: absolute;
				    left: 50%;
				    top: 50%;
				    transform: translate(-50%,-50%);
				    z-index: 1;
				}
					.box-List .b-profile img {
						width: 50px;
					    float: left;
					    margin-right: 8px;
					    border-radius: 50%;
					}
					
				.box-List .b-profile img+.b-name {
				    padding-left: 60px;
				}
					.box-List .b-profile h5 {
						margin: 0px;
					}
					.box-List .b-profile .rateyo {
						padding: 5px 0px !important;
					}
					
			.box-List p {
				padding: 10px;
				padding-top: 0px;
			}
		
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {

    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			section.box-banner {
			    height: 52vw;
		    }
		    .box-banner .box-video-facebook iframe {
			    width: 100%;
			    height: 52vw;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }
